
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    border: 1px solid red;
    height: 100vh;
    width: 100vw;
    background-color: rgba(73, 61, 61, 0.5);
    display: flex;
    justify-content: center;
}
.form{
   border: 1px solid red;
   height: 70vh;
   background-color: black;
  

  
}
.heading{

    font-size: 30px;
    font-weight: bold;
    color: white;
}
.text{

    font-size: 2.5rem;
    margin-left: 5px;
    border-radius: 5px;
    box-shadow: inset 0 0 20px black;
   
    
}
.name{
    font-size: 2.5rem;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 20px  black;
}
.con{
    font-size: 2.5rem;
    border-radius: 5px;
    box-shadow: inset 0 0 20px  black;
}
.ema{
    font-size: 2.5rem;
    margin-left: 40px;
    border-radius: 5px;
    box-shadow: inset 0 0 20px  black;
}
.pass{
    font-size: 2.5rem;
    margin-left: 25px;
    border-radius: 5px;
    box-shadow: inset 0 0 20px  black;
}
.btn{
   font-size: 2.5rem;
   border-radius: 10px;
   background-color: blue;
   color: white;
  
}
.btn:hover{
    background-color: brown;
}
